body {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h3 {
    font-weight: bold;
}

h1 {
    font-size: 32px;
    margin-top: 1.5em;
}

figure {
    float: right;
}

figcaption {
    font-style: italic;
}

table, td, th, caption {
    caption-side: top;
    border-collapse: separate;
    border: 1px solid black;
}